@font-face {
    font-family: 'Windows 95';
    src: url(../fonts/w-95-sans-serif.woff2) format('woff2'), url(../fonts/w-95-sans-serif.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

* {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray-100: #DEDEDE;
    --color-gray-200: #C3C3C3;
    --color-gray-300: #808080;
    --color-blue: #0F0086;
    --shadow-fieldset: var(--shadow-inner-2);
    --shadow-inner-1: inset -2px -2px 0 var(--color-white), inset 2px 2px 0 var(--color-gray-300);
}

.menu-bar-text {
    writing-mode: vertical-lr;
    background-color: var(--color-gray-300);
}

.btn,
body,
span {
    font-family: VT323, monospace;
    /* animation: textflicker 0.3s infinite alternate; */
}

.bg-primary {
    background-color: silver !important
}

.bg-white {
    background-color: #fff !important
}

a.bg-white:focus,
a.bg-white:hover,
button.bg-white:focus,
button.bg-white:hover {
    background-color: #e6e6e6 !important
}

@keyframes floating-lg {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(15px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes floating-md {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes floating-sm {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(5px)
    }

    100% {
        transform: translateY(0)
    }
}

.text-center {
    text-align: center !important
}

.btn {
    position: relative;
    transition: all .2s ease;
    letter-spacing: .025em;
    font-size: .6rem;
    border-radius: .125rem;
    padding: .6rem 2rem;
    max-height: 37px
}

.btn:after,
.btn:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    display: block;
    background: 0 0;
    z-index: 9;
    top: 0;
    left: 0
}

.btn:before {
    width: 100%;
    height: 100%;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585
}

.raised {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;
}

.sunken {
    border-top: 2px solid #858585;
    border-left: 2px solid #858585;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.btn:not(:disabled):not(.disabled):active:before,
.btn:not(:disabled):not(.disabled):active:focus:before {
    border-color: transparent;
    color: #000
}

.btn .btn-text {
    border: 1px solid transparent
}

.btn:not(:disabled):not(.disabled):active .btn-text,
.btn:not(:disabled):not(.disabled):active:focus .btn-text {
    border: 1px dotted #000
}

.border-dark {
    border: 2px solid #0a0a0a !important
}

.btn-sm,
.btn-sm i {
    font-size: .53rem;
    padding: .4rem 1.6rem;
    max-height: 29px
}

.btn-primary {
    color: #000;
    background-color: silver;
    border-color: #a0a0a0
}

.btn-primary:hover {
    color: #000;
    background-color: silver;
    border-color: #a0a0a0
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none
}

.btn-primary:disabled {
    color: #000;
    background-color: silver;
    border-color: silver
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #000;
    background-color: silver;
    border-color: silver
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none
}

.card {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #393939;
    border-bottom: 2px solid #393939;
    border-radius: 0;
    background: silver
}

.card-secondary .card-header {
    background: #008081;
    color: white;
}

.card-tertiary .card-header {
    background: #000181;
    color: #fff
}

.card-header {
    position: relative;
    background: grey;
    font-size: .65rem;
    padding: 4px;
    color: #c9c9c9;
    border-radius: 0;
    border: 2px solid #bdbdbd
}

.card-header .icon {
    position: absolute;
    top: -5px;
    left: -3px
}

.card-body {
    padding: 10px 7px;
    border-top: 2px solid #bdbdbd;
    border-left: 3px solid #bdbdbd;
    border-right: 3px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd
}

label {
    font-size: .6rem;
    color: #000;
    margin: 0
}

.form-group {
    position: relative
}

::selection {
    background-color: #0004bd;
    color: #fff
}

.icon {
    text-align: center;
    display: inline-flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center
}

.icon i {
    font-size: 2.5rem
}

@keyframes animate-positive {
    0% {
        width: 0%
    }
}

body {
    font-family: "Windows 95", sans-serif;
    font-weight: 400
}

p,
ul li {
    font-family: "Windows 95", sans-serif;
    font-size: .6rem;
    font-weight: 300;
    line-height: 2
}

a {
    color: #000181;
    font-weight: 400
}

a:hover {
    color: #000181;
    cursor: pointer
}

.text-white,
.text-white:hover {
    color: #fff !important
}

.text-white a:not(.btn) {
    color: #fff
}

.taskbar .time {
    font-size: 1rem;
    border-top: 1px solid #08080e;
    border-left: 1px solid #08080e;
    border-right: 1px solid #fcfcfc;
    border-bottom: 1px solid #fcfcfc;
    padding: 4px 10px;
    font-family: VT323, monospace
}

.divider {
    width: 2px;
    height: 32px;
    border-left: 1px solid #393939;
    border-right: 1px solid #fff
}

.h-divider {
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    height: 0px;
    border-top: 1px solid #393939;
    border-bottom: 1px solid #fff
}

.desktop-icon {
    cursor: pointer;
    padding: 4px
}

.desktop-icon span {
    padding: 0 2px
}

.desktop-icon.selected span {
    background-color: #000181;
    color: #ffffff;
}

.form-group>input {
    border-top: 2px solid #08080e;
    border-left: 2px solid #08080e;
    border-right: 2px solid #fcfcfc;
    border-bottom: 2px solid #fcfcfc
}

progress {
    width: 100%;
    appearance: none;
    background-color: var(--color-gray-200);
    box-shadow: var(--shadow-inner-1);
    height: 36px;
    padding: 4px;
    border: none;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background-color: var(--color-blue);
    background-image: linear-gradient(90deg, var(--color-blue) 90%, var(--color-gray-200) 90%);
    background-size: 20px 32px;
}

progress::-moz-progress-bar {
    background-color: var(--color-blue);
    background-image: linear-gradient(90deg, var(--color-blue) 90%, var(--color-gray-200) 90%);
    background-size: 20px 32px;
}

/* #dos, #dos * { all: revert; font-family: monospace !important; } */
@keyframes textflicker {
    from {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
    }

    to {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
    }
}

/* scanlines */
.menu-bar::before,
body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;

    background:
        linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
        linear-gradient(90deg,
            rgba(255, 0, 0, 0.06),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.06));

    background-size: 100% 2px, 3px 100%;
}

/* screen flicker */
.menu-bar::after,
body::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9998;
    background: rgba(18, 16, 16, 0.1);
    animation: crt-flicker 0.15s infinite;
}

@keyframes crt-flicker {
    0% {
        opacity: 0.1;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.05;
    }

    75% {
        opacity: 0.15;
    }

    100% {
        opacity: 0.1;
    }
}

body {
    margin: 0;
    overflow: hidden;
}